@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Настройки</title>
</head>
<body>
    <div>
        <h3>Настройки</h3>
        <p>Заполните следующие поля:</p>
        <form method="post">
            <table>
                <tr>
                    <td>Время:</td>
                    <td><input type="text" name="Time" /> </td>
                </tr>
                <tr>
                    <td>Url:</td>
                    <td><input type="text" name="Url" /></td>
                </tr>
                <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>